<!DOCTYPE html>
<html>
    <head>
    <title>DON: Diagnosing OpenVswitch in Neutron</title>
        <link rel="stylesheet" type="text/css" href="/static/don.css">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    </head>
    <body>
    <div id="main">
        <table width="100%" border-spacing="10px">
        <th class="title">
            DON: Diagnosing OpenVswitch in Neutron
        </th>
        <tr>
            <td align="right" class="table_header">
            <button class="btn btn-default btn-sm ajax-modal btn-launch ajax-update" ng-app="collect" ng-controller="collectController" onClick="location.href='/dashboard/don/collect'"><span class="fa fa-plus"></span>    Collect</button>  

<!--             <button class="myButton"
                onClick="location.href='http://127.0.0.1:8000/don/collect'">
                Collect</button>
 -->
            <button class="btn btn-default btn-sm ajax-modal btn-launch ajax-update"
                onClick="location.href='/dashboard/don/view'"><span class="fa fa-pencil"></span>
                    Visualize</button>
            </td>
        </tr>
        <tr>
            <td align="center">
                <div class="status">
                  <!-- <h5>{{collect_status}}</h5> -->
                </div>
<!--                 <div class="inprogress" ng-show="collect_status">
                  <img src='/static/progress.gif'>
                </div> -->
            </td>
        </tr>                
        <!--
        <tr>
            <td align="center">
                <img src="openstack-cloud-software-vertical-web.png"
                alt="OpenStack Logo">
            </td>
        </tr>
        -->
    </table>
    </div>
      <script>
      // var data = {{collect_status}};
      var app = angular.module('collect', []);
      app.controller('collectController', function($scope) {

        // $scope.status= function(val){
        //     $scope.val = val;
        // };
      });

      </script> 

    </body>
</html>

